:root {
	--primary: brown;
	--secondary: green;
}

* {
	font-family: "Roboto", sans-serif;
}

.page {
}

header {
	background-color: black;
}

footer {
}

@media (max-width: 992px) {
	.services {
		background-color: green;
	}
}
